<!DOCTYPE html>
<html>



<head>
    <link rel="stylesheet" href="static/css/sign_in_styles.css" />
</head>

<body>
    <script src="static/scripts/header.js" onLoad="outputHeader('Sign-in', '{{auth}}')"></script>

    <div class="container">
        <h1>Sign In to get full accesses to the website!</h1>

        <form class="signInForm" id="signInForm" method="POST">
            <div class="authForm" id="authForm">
                <label for="auth">I am a </label><br>
                <select name="auth" id="auth">
                    <option selected="selected" value="s">Student</option>
                    <option value="i">Instructor</option>
                </select>
            </div>
            <!-- <div class="error" id="error"> Wrong password and username combination!!</div> -->
            <div class="studentSignUp" id="studentSignUp">
                <h1 class="from_title">Student sign-in</h1>
            </div>
            <div class="instructorSignUp" id="instructorSignUp">
                <h1 class="from_title">Instructor sign-in</h1>
            </div>
            {% block content %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for msg in messages %}
            <h1 class="error">{{msg}}</h1>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% endblock %}

            <div class="username">
                <input type="text" class="form_input" name="username" autofocus placeholder="Username">
            </div>

            <div class="password">
                <input type="password" class="form_input" name="password" autofocus placeholder="Password">
            </div>

            <button type="submit">Submit</button>
            <br>
            <div><a href="/signUp">Don't Have an account? Sign up here!!</a></div>

        </form>
    </div>



    <br><br>

    <script type="text/javascript" src="static/scripts/sign_in.js"></script>
</body>

<footer>
    <script src="static/scripts/footer.js"></script>
</footer>

</html>