<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>

    <link rel="stylesheet" href="static/css/labs_styles.css">

</head>

<body>

    <script src="static/scripts/header.js" onLoad="outputHeader('Feedback', '{{auth}}')"></script>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <ul>
    </ul>


    <div class="info">

        <form class="feedbackListForm" id="feedbackListForm" method="POST">
            <div class="feedback_list">
                <label for="feedback_list">Choose a message</label>
                <select name="feedback_list" id="feedback_list" onchange='this.form.submit()'>
                    {% for item in feedbackList %}
                    <option value="{{item.id}}">{{item.date}} - {{item.id}}</option>
                    {% endfor %}
                    <option selected="selected" value="s">Feedback</option>

                </select>
            </div>
        </form>


        <div class="tut_res">

            <txt>Feedback - {{feedback.date}}</txt>
            <hr>

            <ul class="nobull">
                <li>
                    <h2>What do you like about the instructor's teaching?</h2>
                    <ul class="nobull">

                        <li id="tut1" class="tutInfo">{{feedback.content1}}
                        </li>

                    </ul>
                </li>

                <br>

                <li>
                    <h2>What do you recommend the instructor to do to improve their
                        teaching?</h2>
                    <ul class="nobull">

                        <li id="tut1" class="tutInfo">{{feedback.content2}}


                        </li>

                    </ul>
                </li>

                <br>

                <li>
                    <h2>What do you like about the labs?</h2>
                    <ul class="nobull">

                        <li id="tut1" class="tutInfo">{{feedback.content3}}
                        </li>

                    </ul>
                </li>

                <br>

                <li>
                    <h2>What do you recommend the lab instructors do to improve their
                        teaching?</h2>
                    <ul class="nobull">

                        <li id="tut1" class="tutInfo">{{feedback.content4}}
                        </li>

                    </ul>
                </li>

                <li>
                    <h2>Anything else ^-^?</h2>
                    <ul class="nobull">

                        <li id="tut1" class="tutInfo">{{feedback.content5}}
                        </li>

                    </ul>
                </li>

            </ul>
        </div>

        <br>

        <br>

    </div>





</body>

<footer>
    <script src="static/scripts/footer.js"></script>
</footer>

</html>