<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/calendar_styles.css" />
</head>

<body>



    <div id="popnav1" class="popnav">
        <div id="popnav1links" class="links">
            <a class="exit" href="#">&times;</a>
            <a href="\">Home</a>
            <a href="\calendar">Calendar</a>
            <a href="\announcements">Announcements</a>
            <a href="https://piazza.com/class/kxj5alixpjg4ft" target="blank">Piazza</a>
            <a href="\lectures">Lectures</a>
            <a href="\labs">Labs</a>
            <a href="\assignments">Assignments</a>
            <a href="\tests">Tests</a>
            <a href="\resources">Resources</a>
            <a href="\about">About</a>
            <br>
        </div>
    </div>



    <div id="topnav1" class="topnav">
        <txt><a class="mobile" href="#popnav1">&#9776;</a>CSCB20 - Calendar</txt>
        <div id="topnav1links" class="links">
            <a href="\">Home</a>
            <a href="\calendar">Calendar</a>
            <a href="\announcements">Announcements</a>
            <a href="https://piazza.com/class/kxj5alixpjg4ft" target="blank">Piazza</a>
            <a href="\lectures">Lectures</a>
            <a href="\labs">Labs</a>
            <a href="\assignments">Assignments</a>
            <a href="\tests">Tests</a>
            <a href="\resources">Resources</a>
            <a href="\about">About</a>
        </div>
    </div>
    <div class="info">
        <txt id="calendar_title1" class="calendar_title">Calendar</txt>
        <div class="responsive-iframe-container big-container">
            <iframe
                src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FToronto&src=ZXRoYW56aGFuZzU3QGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=aTZsaGtxamFjM2MwdmJzN2NjcTRkbzZpN29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW1oY2lsbjNhb3JidXZ0OXAydDgzajVtMWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237986CB&color=%2333B679&color=%23009688&color=%23A79B8E"
                style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="responsive-iframe-container small-container">
            <iframe
                src="https://calendar.google.com/calendar/embed?height=600&mode=AGENDA&wkst=1&bgcolor=%23ffffff&ctz=America%2FToronto&src=ZXRoYW56aGFuZzU3QGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=aTZsaGtxamFjM2MwdmJzN2NjcTRkbzZpN29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW1oY2lsbjNhb3JidXZ0OXAydDgzajVtMWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237986CB&color=%2333B679&color=%23009688&color=%23A79B8E"
                style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</body>

<footer>
    <div class="designers">
        <b>Designers</b>
        <br> Anthony Qin
        <br> Klein Harrigan
        <br> Ethan Zhang
    </div>
    <div class="contact-info">
        <b>Contact Info</b>
        <br> Dr. Purva Gawde
        <br> Email: <a href="mailto: purva.gawde@utoronto.ca" target="_blank">purva.gawde@utoronto.ca</a>
        <br> Phone: 437-246-2192
        <br> Office: IC484
    </div>
    <div class="faculty">
        <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="blank">
            <img class="cs" src="/static/assets/images/cs.png" />
        </a>
    </div>
</footer>

</html>