<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/styles.css" />
</head>

<body>


    <div id="popnav1" class="popnav">
        <div id="popnav1links" class="links">
            <a class="exit" href="#">&times;</a>
            <a href="\">Home</a>
            <a href="\calendar">Calendar</a>
            <a href="\announcements">Announcements</a>
            <a href="https://piazza.com/class/kxj5alixpjg4ft" target="blank">Piazza</a>
            <a href="\lectures">Lectures</a>
            <a href="\labs">Labs</a>
            <a href="\assignments">Assignments</a>
            <a href="\tests">Tests</a>
            <a href="\resources">Resources</a>
            <a href="\about">About</a>
            <br>
        </div>
    </div>




    <div id="topnav1" class="topnav">
        <txt><a class="mobile" href="#popnav1">&#9776;</a>CSCB20 - Introduction to Databases and Web Applications</txt>
        <div id="topnav1links" class="links">
            <a href="\">Home</a>
            <a href="\calendar">Calendar</a>
            <a href="\announcements">Announcements</a>
            <a href="https://piazza.com/class/kxj5alixpjg4ft" target="blank">Piazza</a>
            <a href="\lectures">Lectures</a>
            <a href="\labs">Labs</a>
            <a href="\assignments">Assignments</a>
            <a href="\tests">Tests</a>
            <a href="\resources">Resources</a>
            <a href="\about">About</a>
        </div>
    </div>



    <div class="info">
        <div id="course_desc" class="course_desc">
            <txt class="desc_title">Course Description</txt>
            <hr>
            <txt>
                A practical introduction to databases and Web app development. Databases: terminology and applications;
                creating, querying and updating databases; the entity-relationship model for database design. Web
                documents and applications: static and interactive
                documents; Web servers and dynamic server-generated content; Web application development and interface
                with databases.
            </txt>

            <ul class="nobull">
                <li>
                    <txt> Prerequisite: Some experience with programming in an imperative language such as Python, Java
                        or C.
                    </txt>
                </li>
                <li>
                    <txt>Exclusion: This course may not be taken after - or concurrently with - any C- or D-level CSC
                        course.
                    </txt>
                </li>
                <li>
                    <txt> <a href=" /static/assets/Syllabus.pdf" target="_blank">Syllabus</a>
                    </txt>
                </li>
            </ul>


        </div>




        <div class="Instructor">

            <txt id="instructor_title1" class="instructor_title">About the Instructor</txt>
            <hr>
            <ul class="nobull">
                <li>
                    <txt>Dr. Purva Gawde</txt>
                </li>
                <li>
                    <txt>Email: <a href="mailto: purva.gawde@utoronto.ca" target="_blank">purva.gawde@utoronto.ca</a>
                    </txt>
                </li>

                <li>
                    <txt>Office: IC 484</a>
                    </txt>
                </li>

                <li>
                    <txt>Phone: 437-246-2192</a>
                    </txt>
                </li>

                <li>
                    <txt>Lectures: Lectures will be online till January 30 th, 2022. From January 31st, lectures will be
                        in person. </a>
                    </txt>
                </li>

                <li>
                    <txt>Office Hours: Tuesday 10 to 11 IC 484
                    </txt>
                </li>

                <br>

            </ul>
            <div class="feedback">
                <txt id="feedback_title1" class="feedback_title">Anonymous Feedback</txt>
                <hr>
                <form>
                    <label class="ftext" for="feedback">Feedback:</label>
                    <div class="ftext">
                        <input type="text" id="fd" name="feedback"><br>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>


        </div>


    </div>








</body>



<footer>
    <div class="designers">
        <b>Designers</b>
        <br> Anthony Qin
        <br> Klein Harrigan
        <br> Ethan Zhang
    </div>
    <div class="contact-info">
        <b>Contact Info</b>
        <br> Dr. Purva Gawde
        <br> Email: <a href="mailto: purva.gawde@utoronto.ca" target="_blank">purva.gawde@utoronto.ca</a>
        <br> Phone: 437-246-2192
        <br> Office: IC484
    </div>
    <div class="faculty">
        <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="blank">
            <img class="cs" src="/static/assets/images/cs.png" />
        </a>
    </div>
</footer>

</html>