<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/labs_styles.css" />
</head>

<body>

    <div id="popnav1" class="popnav">
        <div id="popnav1links" class="links">
            <a class="exit" href="#">&times;</a>
            <a href="\">Home</a>
            <a href="\calendar">Calendar</a>
            <a href="\announcements">Announcements</a>
            <a href="https://piazza.com/class/kxj5alixpjg4ft" target="blank">Piazza</a>
            <a href="\lectures">Lectures</a>
            <a href="\labs">Labs</a>
            <a href="\assignments">Assignments</a>
            <a href="\tests">Tests</a>
            <a href="\resources">Resources</a>
            <a href="\about">About</a>
            <br>
        </div>
    </div>




    <div id="topnav1" class="topnav">
        <txt><a class="mobile" href="#popnav1">&#9776;</a>CSCB20 - Labs</txt>
        <div id="topnav1links" class="links">
            <a href="\">Home</a>
            <a href="\calendar">Calendar</a>
            <a href="\announcements">Announcements</a>
            <a href="https://piazza.com/class/kxj5alixpjg4ft" target="blank">Piazza</a>
            <a href="\lectures">Lectures</a>
            <a href="\labs">Labs</a>
            <a href="\assignments">Assignments</a>
            <a href="\tests">Tests</a>
            <a href="\resources">Resources</a>
            <a href="\about">About</a>
        </div>
    </div>
    <div class="info">


        <div class="tut_res">

            <txt>Tutorial Resourses</txt>
            <hr>

            <ul class="nobull">
                <li>
                    <h2>Tutorial 2</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> Notes Prepared by: Kevin Zhang</li><br>
                        <li id="tut1" class="tutInfo"> A quick speed-refresher of Python. We go over variables,
                            functions, string methods, lists, loops, and basic I/O. The material covered today will be
                            especially relevant to those who have not taken one of A08, A48, or A20.
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf" target="blank">Week 2
                                Tutorial Notes</a>
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                target="blank">Solutions</a>
                        </li>
                    </ul>
                </li>

                <br>

                <li>
                    <h2>Tutorial 3</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> Notes Prepared by: Kevin Zhang</li><br>
                        <li id="tut1" class="tutInfo"> Relational algebra. In this tutorial, we go over relational
                            algebra and writing relational algebra to perform queries. We also introduce SQLite and
                            basic SQL concepts.


                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf" target="blank">Week 3
                                Tutorial Notes</a>
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                target="blank">Solutions</a>
                        </li>
                    </ul>
                </li>

                <br>

                <li>
                    <h2>Tutorial 4</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> Notes Prepared by: Kevin Zhang</li><br>
                        <li id="tut1" class="tutInfo"> For this week, we will be extracting actual data out of databases
                            so you will be required to have SQLite in order to complete the lab. Additionally, you may
                            find the SQLite Browser helpful to use.
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf" target="blank">Week 4
                                Tutorial Notes</a>
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                target="blank">Solutions</a>
                        </li>
                    </ul>
                </li>

                <br>

                <li>
                    <h2>Tutorial 5</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> Notes Prepared by: Kevin Zhang</li><br>
                        <li id="tut1" class="tutInfo"> In this tutorial, you will learn about more SQL queries that
                            include Views, Group By and brief introduction to HTML.
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf" target="blank">Week 5
                                Tutorial Notes</a>
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                target="blank">Solutions</a>
                        </li>
                    </ul>
                </li>

                <br>

                <li>
                    <h2>Tutorial 6</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> Notes Prepared by: Kevin Zhang</li><br>
                        <li id="tut1" class="tutInfo"> In this tutorial, you will learn about Python Flask.
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf" target="blank">Week 6
                                Tutorial Notes</a>
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                target="blank">Solutions</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <h2>Reading Week</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> There is no tutorial for this week.
                        </li>
                    </ul>
                </li>

                <br>

                <li>
                    <h2>Tutorial 8</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> Notes Prepared by: Kevin Zhang</li><br>
                        <li id="tut1" class="tutInfo"> An introduction to CSS.
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf" target="blank">Week 8
                                Tutorial Notes</a>
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                target="blank">Solutions</a>
                        </li>
                    </ul>
                </li>

                <br>

                <li>
                    <h2>Tutorial 9</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> Notes Prepared by: Kevin Zhang</li><br>
                        <li id="tut1" class="tutInfo"> This tutorial is based on CSS Flexbox.
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf" target="blank">Week 9
                                Tutorial Notes</a>
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                target="blank">Solutions</a>
                        </li>
                    </ul>
                </li>

                <br>

                <li>
                    <h2>Tutorial 10</h2>
                    <ul class="nobull">
                        <li id="tut1" class="tutInfo"> Notes Prepared by: Kevin Zhang</li><br>
                        <li id="tut1" class="tutInfo"> This tutorial is based on JavaScript.
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf" target="blank">Week 10
                                Tutorial Notes</a>
                        </li>
                        <li id="tut1" class="tutInfo">
                            <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                target="blank">Solutions</a>
                        </li>
                        <br>
                    </ul>
                </li>
            </ul>
        </div>


    </div>
</body>

<footer>
    <div class="designers">
        <b>Designers</b>
        <br> Anthony Qin
        <br> Klein Harrigan
        <br> Ethan Zhang
    </div>
    <div class="contact-info">
        <b>Contact Info</b>
        <br> Dr. Purva Gawde
        <br> Email: <a href="mailto: purva.gawde@utoronto.ca" target="_blank">purva.gawde@utoronto.ca</a>
        <br> Phone: 437-246-2192
        <br> Office: IC484
    </div>
    <div class="faculty">
        <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="blank">
            <img class="cs" src="/static/assets/images/cs.png" />
        </a>
    </div>
</footer>


</html>