<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/lectures_styles.css" />
</head>

<body>

    <div id="popnav1" class="popnav">
        <div id="popnav1links" class="links">
            <a class="exit" href="#">&times;</a>
            <a href="\">Home</a>
            <a href="\calendar">Calendar</a>
            <a href="\announcements">Announcements</a>
            <a href="https://piazza.com/class/kxj5alixpjg4ft" target="blank">Piazza</a>
            <a href="\lectures">Lectures</a>
            <a href="\labs">Labs</a>
            <a href="\assignments">Assignments</a>
            <a href="\tests">Tests</a>
            <a href="\resources">Resources</a>
            <a href="\about">About</a>
            <br>
        </div>
    </div>

    <div id="topnav1" class="topnav">
        <txt><a class="mobile" href="#popnav1">&#9776;</a>CSCB20 - Lectures</txt>
        <div id="topnav1links" class="links">
            <a href="\">Home</a>
            <a href="\calendar">Calendar</a>
            <a href="\announcements">Announcements</a>
            <a href="https://piazza.com/class/kxj5alixpjg4ft" target="blank">Piazza</a>
            <a href="\lectures">Lectures</a>
            <a href="\labs">Labs</a>
            <a href="\assignments">Assignments</a>
            <a href="\tests">Tests</a>
            <a href="\resources">Resources</a>
            <a href="\about">About</a>
        </div>
    </div>


    <div id=body class="info">

        <div id="lectures" class="lectures">
            <txt class="lecture_title">Lectures</txt>

            <hr>

            <ul class="nobull">


                <li>
                    <div id="lecture1" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 10 - 14/03/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>A deeper dive into Javascript. Topics covered include events, event
                                                handlers, syntax, variables and many more.</txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Lecture
                                                    Recording</a>
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf"
                                                    target="blank">Slides</a>
                                            </txt>
                                        </li>

                                        <li>
                                            <txt>Resources:</txt>
                                            <ul class="diffbull">
                                                <li>
                                                    <txt><a
                                                            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript
                                                            Docs</a></txt>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>

                </li>

                <li>
                    <div id="lecture2" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 9 - 7/03/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>The quintessential basics of Javascript.</txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Lecture
                                                    Recording</a>
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Slides</a>
                                            </txt>
                                        </li>

                                        <li>
                                            <txt>Resources:</txt>
                                            <ul class="diffbull">
                                                <li>
                                                    <txt><a
                                                            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript
                                                            Docs</a></txt>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>

                </li>

                <li>
                    <div id="lecture8" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 8 - 28/02/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>Midterm - We still have content for this week that covers advanced HTML
                                                and CSS.</txt>
                                        </li>

                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Supplementary
                                                    Slides</a></txt>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>

                </li>






                <li>
                    <div id="lecture7" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Reading Week - 21/02/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>Get some well needed rest and some studying in!</txt>
                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>

                </li>


                <li>
                    <div id="lecture6" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 6 - 14/02/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>A look into Python Flask and a brief introduction to HTML and CSS.
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Lecture
                                                    Recording</a>
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence">
                                                    Slides</a></txt>
                                        </li>

                                        <li>
                                            <txt>Resources:</txt>
                                            <ul class="diffbull">
                                                <li>
                                                    <txt><a href="https://validator.w3.org/">HTML Validator</a></txt>
                                                </li>
                                                <li>
                                                    <txt><a href="https://code.visualstudio.com/download">Visual Studio
                                                            Code</a></txt>
                                                </li>
                                                <li>
                                                    <txt><a
                                                            href="https://flask.palletsprojects.com/en/2.0.x/installation/">Python
                                                            Flask</a></txt>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>


                <li>
                    <div id="lecture5" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 5 - 7/02/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>What exactly is web development? This week's material answers this
                                                question.</txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Lecture
                                                    Recording</a>
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf">Slides</a>
                                            </txt>
                                        </li>

                                        <li>
                                            <txt>Resources:</txt>
                                            <ul class="diffbull">
                                                <li>
                                                    <txt><a
                                                            href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf">univdb-sqlite.db</a>
                                                    </txt>
                                                </li>
                                                <li>
                                                    <txt><a
                                                            href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf">myuni.db</a>
                                                    </txt>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>

                </li>

                </li>



                <li>
                    <div id="lecture4" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 4 - 31/01/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>A deeper dive into SQL queries.</txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Lecture
                                                    Recording</a>
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Slides</a>
                                            </txt>
                                        </li>

                                        <li>
                                            <txt>Resources:</txt>
                                            <ul class="diffbull">
                                                <li>
                                                    <txt><a
                                                            href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">ships.db</a>
                                                    </txt>
                                                </li>
                                                <li>
                                                    <txt><a
                                                            href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">univdb-sqlite.db</a>
                                                    </txt>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>

                </li>



                <li>
                    <div id="lecture3" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 3 - 24/01/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>All good things must come to an end. Such is the case for our study of
                                                relational algebra. Make way for SQL!</txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Lecture
                                                    Recording</a>
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Slides</a>
                                            </txt>
                                        </li>

                                        <li>
                                            <txt>Resources:</txt>
                                            <ul class="diffbull">
                                                <li>
                                                    <txt><a href="https://www.sqlite.org/index.html">SQLite</a></txt>
                                                </li>
                                                <li>
                                                    <txt><a
                                                            href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">univdb-sqlite.db</a>
                                                    </txt>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>


                <li>
                    <div id="lecture2" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 2 - 17/01/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>Time to get our hands dirty and work with some databases.</txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Lecture
                                                    Recording</a>
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Slides</a>
                                            </txt>
                                        </li>

                                        <li>
                                            <txt>Resources:</txt>
                                            <ul class="diffbull">
                                                <li>
                                                    <txt><a
                                                            href="https://dbis-uibk.github.io/relax/calc/local/uibk/local/0">Relational
                                                            Algebra Calculator</a></txt>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>

                </li>

                </li>


                <li>
                    <div id="lecture1" class="lecture">
                        <a href="\lectures"></a>
                        <txt>Week 1 - 10/01/22</txt>
                        <ul class="nobull">
                            <li>
                                <lec_text>
                                    <ul>
                                        <li>
                                            <txt>An introduction to databases and their associated concepts.</txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Lecture
                                                    Recording</a>
                                            </txt>
                                        </li>
                                        <li>
                                            <txt><a
                                                    href="/static/assets/lectures/do_not_insult_my_pdf's_intelligence.pdf">Slides</a>
                                            </txt>
                                        </li>

                                    </ul>




                                </lec_text>
                            </li>
                        </ul>

                    </div>

                </li>




            </ul>

        </div>


    </div>



</body>


<footer>
    <div class="designers">
        <b>Designers</b>
        <br> Anthony Qin
        <br> Klein Harrigan
        <br> Ethan Zhang
    </div>
    <div class="contact-info">
        <b>Contact Info</b>
        <br> Dr. Purva Gawde
        <br> Email: <a href="mailto: purva.gawde@utoronto.ca" target="_blank">purva.gawde@utoronto.ca</a>
        <br> Phone: 437-246-2192
        <br> Office: IC484
    </div>
    <div class="faculty">
        <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="blank">
            <img class="cs" src="/static/assets/images/cs.png" />
        </a>
    </div>
</footer>

</html>