a:hover {
    color: rgb(39, 110, 86);
}












a.exit {
    position: relative;
    top: 0;
    right: 0;
}

a.mobile:link, a.mobile:visited, a.mobile:hover, a.mobile:active, a.mobile {
    visibility: hidden;
    left: 5vw;
    text-align: left;
    align-self: left;
    align-content: left;
    margin-right: 0;
    text-decoration: none;
    color: var(--whi);
    position: absolute;
}