:root {
    --gre: #253031ff;
    --gra: #315659ff;
    --blu: #2978a0ff;
    --bro: #bcab79ff;
    --lblu: #c6e0ffff;
    --whi: rgb(224, 238, 238)
}

body {
    font-size: 16px;
    /* background:url(https://utsc.utoronto.ca/admissions/sites/utsc.utoronto.ca.admissions/files/styles/full-page-image/public/images/page/highland_hall2.jpg?itok=jVnwWyrn&c=e0a5a2589657c45dfe77bb902c616ff0) center center/contain no-repeat;  */
    padding: 0%;
    background-blend-mode: darken;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/static/assets/images/option3.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--whi);
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

ul.nobull {
    list-style-type: none;
    color: rgb(224, 238, 238);
}

a:hover {
    color: rgb(39, 110, 86);
}

a,
a:visited {
    color: var(--blu);
}



.info {
    box-shadow: 4px 6px 10px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 3%;
    margin-left: 3%;
    margin-top: -3%;
}

.tests {
    padding: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1em;
}

.tests txt {
    font-size: 20px;
}

.tests txt.big {
    font-size: 1.75rem;
    font-weight: 400;
}

.tests txt::after {
    content: "\a";
    white-space: pre;
}

.tests txt.test_title {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    padding-bottom: 2%;
    color: rgb(224, 238, 238);
}

.tests .test {
    font-size: 20px;
}

.tests .test::after {
    content: "\a";
    white-space: pre;
}

.tests .test tes_text {
    font-size: 18px;
}


a.exit {
    position: relative;
    top: 0;
    right: 0;
}

a.mobile:link, a.mobile:visited, a.mobile:hover, a.mobile:active, a.mobile {
    visibility: hidden;
    left: 5vw;
    text-align: left;
    align-self: left;
    align-content: left;
    margin-right: 0;
    text-decoration: none;
    color: var(--whi);
    position: absolute;
}