/* CSS HEX */

:root {
    --gre: #253031ff;
    --gra: #315659ff;
    --blu: #2978a0ff;
    --bro: #bcab79ff;
    --lblu: #c6e0ffff;
    --whi: rgb(224, 238, 238)
}

body {
    font-size: 16px;
    padding: 0%;
    background-blend-mode: darken;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/static/assets/images/option3.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--whi);
    margin: 0px;
    padding: 0px;
}

ul.nobull {
    list-style-type: none;
    color: rgb(224, 238, 238);
}

a,
a:visited {
    color: var(--blu);
}

a:hover {
    color: rgb(39, 110, 86);
}

.info {
    box-shadow: 4px 6px 10px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 3%;
    margin-left: 3%;
    margin-top: -3%;
    margin-bottom: 3%;
}


.Instructor {
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
    padding: 1%;
}



.Instructor a {
    color: var(--blu);
}

.Instructor a:hover {
    color: rgb(107, 184, 223);
}

.Instructor txt.instructor_title {
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: -0.5%;
}

.Instructor txt {
    color: azure;
    font-size: 1.2rem;

}

.Instructor.ul {
    margin-left: 5%;
}

.Instructor.ul.li {
    list-style: none;
}



.course_desc {
    padding: auto;
    position: static;
    height: max-content;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}

.course_desc a {
    color: var(--blu);
    font-weight: 300;
    font-size: 1.2rem;

}

.course_desc txt {
    color: rgb(224, 238, 238);

    font-size: 1.2rem;

}

.course_desc txt.desc_title {
    color: rgb(224, 238, 238);
    font-weight: 100;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.feedback txt.feedback_title {
    color: rgb(224, 238, 238);
    font-weight: 100;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.course_desc a:hover {
    color: rgb(107, 184, 223);
}

.feedback {
    color: azure;
    padding-bottom: 1%;
}

.feedback form {
    margin-left: 2.5%;
}

.feedback .ftext input {
    width: 50%;
    padding-bottom: 10%;
}




a.exit {
    position: relative;
    top: 0;
    right: 0;
}

a.mobile:link, a.mobile:visited, a.mobile:hover, a.mobile:active, a.mobile {
    visibility: hidden;
    left: 5vw;
    text-align: left;
    align-self: left;
    align-content: left;
    margin-right: 0;
    text-decoration: none;
    color: var(--whi);
    position: absolute;
}