:root {
    --gre: #253031ff;
    --gra: #315659ff;
    --blu: #2978a0ff;
    --bro: #bcab79ff;
    --lblu: #c6e0ffff;
    --whi: rgb(224, 238, 238)
}

body {
    font-size: 1rem;
    /* background:url(https://utsc.utoronto.ca/admissions/sites/utsc.utoronto.ca.admissions/files/styles/full-page-image/public/images/page/highland_hall2.jpg?itok=jVnwWyrn&c=e0a5a2589657c45dfe77bb902c616ff0) center center/contain no-repeat;  */
    padding: 0%;
    background-blend-mode: darken;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/static/assets/images/option3.jpg")center center/cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--whi);
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul.nobull {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    color: rgb(224, 238, 238);
}

.instructor {
    flex: 1;
    padding: 10px;
}

.biography {
    flex: 1;
    padding: 10px;
}

.ta {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.pfp {
    height: 225px;
}

a:hover {
    color: rgb(39, 110, 86);
}

a,
a:visited {
    color: var(--blu);
}

.topnav {
    position: static;
    top: 0;
    right: 0;
    width: 100%;
    height: 15%;
    background-color: #253031ff;
    /*padding: 8px 8px 8px 8px;*/
    z-index: 1;
    text-align: center;
    margin-bottom: 4%;
    display: grid;
}

.topnav txt {
    position: static;
    top: 10%;
    font-size: 3.2rem;
    color: azure;
    font-weight: 700;
}

.topnav .links {
    position: static;
    top: 30%;
    width: 100%;
    text-align: center;
    background: rgb(58, 172, 134);
    height: fit-content;
    pointer-events: none;

}

.topnav .links a {
    position: static;

    padding-left: 2%;
    padding-right: 2%;
    color: azure;
    pointer-events: auto;
    font-size: 1.2rem;

}

.topnav .links a:hover {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.05%;
    background: rgb(39, 110, 86);
}

.info {
    box-shadow: 4px 6px 10px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 3%;
    margin-left: 3%;
    margin-top: -3%;
}

.biography, .publications, .ta {
    font-size: 1.1rem;
}

.about {
    padding: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1em;
}

.about txt {
    font-size: 1.25rem;
}

.about txt::after {
    content: "\a";
    white-space: pre;
}

.about txt.about_title {
    font-size: 2rem;
    padding-bottom: 2%;
    color: rgb(224, 238, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;

}

.about .about {
    font-size: 20px;
}

.about .about::after {
    content: "\a";
    white-space: pre;
}

.about .about ann_text {
    font-size: 1rem;
}

footer {
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    margin-top: auto;
}

.designers {
    flex: 1;
    margin-top: 15px;
    margin-left: 100px;
    padding: 10px;
}

.contact-info {
    flex: 1;
    margin-top: 5px;
    padding: 10px;
}

.faculty {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.cs {
    height: 100px;
}


a.exit {
    position: relative;
    top: 0;
    right: 0;
}

a.mobile:link, a.mobile:visited, a.mobile:hover, a.mobile:active, a.mobile {
    visibility: hidden;
    left: 5vw;
    text-align: left;
    align-self: left;
    align-content: left;
    margin-right: 0;
    text-decoration: none;
    color: var(--whi);
    position: absolute;
}




.popnav {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    width: 100vw;
    z-index: 2;
    flex-direction: column;
}

.popnav:target {
    visibility: visible;
    overflow: hidden;
}

.popnav .links {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    background: rgb(58, 172, 134);
    height: 100%;
    pointer-events: none;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popnav .links a {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    color: azure;
    pointer-events: auto;
    top: 7px;
    font-size: 48px;



}

.popnav .links a:hover {


    background: rgb(39, 110, 86);

}



@media screen and (max-width: 992px) and (min-width:501px) {
    a.mobile, a.mobile:link, a.mobile:visited, a.mobile:hover, a.mobile:active {
        visibility: visible;

    }

    .topnav txt {
        margin-top: 5%;
        font-size: 4rem;
    }

    .topnav .links {
        visibility: hidden;
    }
}

@media screen and (max-width: 500px) {
    a.mobile, a.mobile:link, a.mobile:visited, a.mobile:hover, a.mobile:active {
        visibility: visible;

    }

    .topnav txt {
        margin-top: 5%;
        font-size: 6rem;
    }

    .topnav .links {
        visibility: hidden;
    }
}