<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/announce_styles.css" />
</head>

<body>

    <script src="static/scripts/header.js" onLoad="outputHeader('Announcements', '{{auth}}' )"></script>

    <!-- <span style="font-size:30px;cursor:pointer;align-self:right;" onclick="openNav()">&#9776;</span> -->


    <!-- <br>
    <br>
    <br>
    <br>
    <br> -->

    <div id=body class="info">

        <div id="announcements" class="announcements">
            <txt class="announce_title">Announcements</txt>

            <hr>

            <ul class="nobull">


                <li>
                    <div id="announcement1" class="announcement">
                        <a href="\announcements"></a>
                        <txt>01/03/22 - Assignment 2 Released</txt>
                        <ul class="nobull">
                            <li>
                                <ann_text>
                                    Instructions for assignment 2 can be found <a
                                        href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf">here</a>. It is
                                    due on the 15th of March, 2022. If you have any concerns or inquiries, Feel free to
                                    post it on Piazza, or if it is private you can
                                    <a href="mailto:purva.m.gawde@mail.utoronto.ca" target="blank">email</a> me. Good
                                    luck!
                                </ann_text>
                            </li>
                        </ul>

                    </div>

                </li>

                <li>
                    <div id="announcement2" class="announcement">
                        <a href="\announcements"></a>
                        <txt>26/02/22 - Midterm Results Available</txt>
                        <ul class="nobull">
                            <li>
                                <ann_text>
                                    Congratulations on your first midterm! You guys did very well, especially
                                    considering the difficulty. The class average was a satisfactory 72% with a median
                                    of 73%. You can go over your paper with your TA or in office hours should you
                                    desire. If you believe
                                    there were any mistakes in the grading of your paper you MUST fill out the
                                    <a href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf">request a regrade
                                        form</a>. Don't forget I am always happy
                                    to receive <a href="\#feedback_title1">anonymous feedback</a>. ^-^
                                </ann_text>
                            </li>
                        </ul>

                    </div>



                </li>


                <li>
                    <div id="announcement4" class="announcement">
                        <a href="\announcements"></a>
                        <txt>13/01/22 - Zoom links for Tutorials</txt>
                        <ul class="nobull">
                            <li>
                                <ann_text>
                                    Hello all,

                                    <br>

                                    Please find the zoom links for lectures and tutorials below:

                                    <br>

                                    <ul>
                                        <li>
                                            <a href="https://utoronto.zoom.us/j/85944249580">Weekly Lecture Zoom link
                                                until January 31st</a>
                                            <ul>
                                                <li>
                                                    Password: 861537
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="https://utoronto.zoom.us/j/83542936911">Weekly Office Hours
                                                (Tuesday 10 - 11)</a>
                                            <ul>
                                                <li>
                                                    Password: 003308
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="https://utoronto.zoom.us/j/4637273340">Tutorial 001 - Rick
                                            </a>
                                            <ul>
                                                <li>
                                                    Password: 6NdBG8
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="https://utoronto.zoom.us/j/4637273340">Tutorial 002 - Rick
                                            </a>
                                            <ul>
                                                <li>
                                                    Password: 6NdBG8
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="https://utoronto.zoom.us/j/85751604128">Tutorial 003 - Vidya
                                            </a>
                                            <ul>
                                                <li>
                                                    Password: b20tut
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="https://utoronto.zoom.us/j/85751604128">Tutorial 004 - Vidya
                                            </a>
                                            <ul>
                                                <li>
                                                    Password: b20tut
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </ann_text>
                            </li>
                        </ul>

                    </div>



                </li>



                <li>
                    <div id="announcement3" class="announcement">
                        <a href="\announcements"></a>
                        <txt>07/01/22 - Welcome to CSCB20</txt>
                        <ul class="nobull">
                            <li>
                                <ann_text>
                                    Hello all,
                                    <br>
                                    Welcome to CSCB20 Winter 2022!

                                    <br>
                                    <br>

                                    My name is Dr. Purva R. Gawde and I will be your instructor for the course. I am
                                    looking forward to a terrific semester with you. All details of the course can be
                                    found within Quercus.
                                </ann_text>
                            </li>
                        </ul>

                    </div>



                </li>




            </ul>

        </div>


    </div>

</body>

<footer>
    <script src="static/scripts/footer.js"></script>
</footer>

</html>