<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/assignments_styles.css" />
</head>

<body>


    <script src="static/scripts/header.js" onLoad="outputHeader('Assignment', '{{auth}}' )"></script>


    <div id=body class="info">

        <div id="assignments" class="assignments">
            <txt class="assignment_title">Assignments</txt>

            <hr>

            <ul class="nobull">


                <li>
                    <div id="assignment2" class="assignment">
                        <a href="\assignments"></a>
                        <txt class="big">Assignment 3</txt>
                        <ul class="nobull">
                            <li>
                                <as_text>
                                    Instructions for assignment 3 can be found <a
                                        href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf">here</a>. It is
                                    worth <b>15%</b> of your final grade. You have to submit it through <a
                                        href="https://markus.utsc.utoronto.ca/cscb20w22/?locale=en">MarkUs</a> It is due
                                    on the <b>6<sup>th</sup> of April, 2022</b>. If you have any concerns or inquiries,
                                    Feel free to post it on Piazza, or if it is private you can <a
                                        href="mailto:purva.m.gawde@mail.utoronto.ca" target="blank">email</a> me. Good
                                    luck!
                                </as_text>
                            </li>
                        </ul>

                    </div>

                </li>

                <br>


                <li>
                    <div id="assignment2" class="assignment">
                        <a href="\assignments"></a>
                        <txt class="big">Assignment 2</txt>
                        <ul class="nobull">
                            <li>
                                <as_text>
                                    Instructions for assignment 2 can be found <a
                                        href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf">here</a>. It is
                                    worth <b>10%</b> of your final grade. You have to submit it through <a
                                        href="https://markus.utsc.utoronto.ca/cscb20w22/?locale=en">MarkUs</a> It is due
                                    on the <b>15<sup>th</sup> of March, 2022</b>. If you have any concerns or inquiries,
                                    Feel free to post it on Piazza, or if it is private you can <a
                                        href="mailto:purva.m.gawde@mail.utoronto.ca" target="blank">email</a> me. Good
                                    luck!

                                    <br>
                                    <br>

                                    <txt>Update 1:</txt>
                                    <ul>
                                        <li>Due date changed to: <b>17<sup>th</sup> March, 2022</li></b>
                                    </ul>

                                </as_text>
                            </li>
                        </ul>

                    </div>

                </li>

                <br>

                <li>
                    <div id="assignment1" class="assignment">
                        <a href="\assignments"></a>
                        <txt class="big">Assignment 1</txt>
                        <ul class="nobull">
                            <li>
                                <as_text>
                                    Instructions for assignment 1 can be found <a
                                        href="/static/assets/do_not_insult_my_pdf's_intelligence.pdf">here</a>. It is
                                    worth <b>8%</b> of your final grade. You have to submit it through
                                    <a href="https://markus.utsc.utoronto.ca/cscb20w22/?locale=en"></b>MarkUs</b>
                                    </a>
                                    You are allowed to work in groups of <b>up to 3</b> people. To do so, you must
                                    create a group on MarkUs and get your partners to join it. It is due on the
                                    <b>15<sup>th</sup> of February, 2022</b>. If you have any
                                    concerns or inquiries, Feel free to post it on Piazza, or if it is private you can
                                    <a href="mailto:purva.m.gawde@mail.utoronto.ca" target="blank">email</a> me. Good
                                    luck!
                                    <br>
                                    <br>
                                    <txt>Update 1:</txt>
                                    <ul>
                                        <li>Due date changed to: <b>17<sup>th</sup> February, 2022</b></li>
                                    </ul>
                                </as_text>
                            </li>
                        </ul>

                    </div>

                </li>

                <br>




            </ul>

        </div>


    </div>

</body>

<footer>
    <script src="static/scripts/footer.js"></script>
</footer>

</html>