<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/footer.css" />
</head>


<footer>
    <div class="designers">
        <b>Designers</b>
        <br> Anthony Qin
        <br> Klein Harrigan
        <br> Ethan Zhang
    </div>
    <div class="contact-info">
        <b>Contact Info</b>
        <br> Dr. Purva Gawde
        <br> Email: <a href="mailto: purva.gawde@utoronto.ca" target="_blank">purva.gawde@utoronto.ca</a>
        <br> Phone: 437-246-2192
        <br> Office: IC484
    </div>
    <div class="faculty">
        <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="blank">
            <img class="cs" src="/static/assets/images/cs.png" />
        </a>
    </div>
</footer>

</html>