<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="static/css/give_feedback.css">

</head>

<body>

    <script src="static/scripts/header.js" onLoad="outputHeader('Anonymous Feedback', '{{auth}}')"></script>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <ul>
    </ul>
    <div class="container">
        <form class="instructorListForm" id="instructorListForm" method="POST">
            <h1>Anonymous Feedback</h1>

            {% block content %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for msg in messages %}
            <h1 class="error">{{msg}}</h1>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% endblock %}

            <div class="instructor_list">
                <label for="instructor_list">Choose an instructor to direct your feedback to</label>
                <select class="instructors" name="instructor_list" id="instructor_list">
                    {% for item in instructorList %}
                    <option value="{{item.username}}">{{item.first_name}} {{item.last_name}}</option>
                    {% endfor %}
                    <option selected="selected" value="instructor">Instructor</option>
                </select>
            </div>

            <div class="feedback_prompt" id=feedback_prompt_1>
                <label class="ftext" for="feedback">What do you like about the instructor's teaching?</label>
                <div class="ftext">
                    <textarea rows="10" cols="60" required id="fd1" name="feedback1"></textarea>
                </div>

            </div>
            <div class="feedback_prompt" id=feedback_prompt_2>
                <label class="ftext" for="feedback">What do you recommend the instructor to do to improve their
                    teaching?</label>
                <div class="ftext">
                    <textarea rows="10" cols="60" required id="fd2" name="feedback2"></textarea>
                </div>

            </div>
            <div class="feedback_prompt" id=feedback_prompt_3>
                <label class="ftext" for="feedback">What do you like about the labs?</label>
                <div class="ftext">
                    <textarea rows="10" cols="60" required id="fd3" name="feedback3"></textarea>
                </div>

            </div>

            <div class="feedback_prompt" id=feedback_prompt_4>
                <label class="ftext" for="feedback">What do you recommend the lab instructors do to improve their
                    teaching?</label>
                <div class="ftext">
                    <textarea rows="10" cols="60" required id="fd4" name="feedback4"></textarea>
                </div>

            </div>

            <div class="feedback_prompt" id=feedback_prompt_5>
                <label class="ftext" for="feedback">Anything else ^-^?</label>
                <div class="ftext">
                    <textarea rows="10" cols="60" required id="fd5" name="feedback5"></textarea>
                </div>

            </div>

            <input type="submit" value="Submit">

        </form>
    </div>

    <br>
    <br>

</body>

<footer>
    <script src="static/scripts/footer.js"></script>
</footer>

</html>