<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/tests_styles.css" />
</head>

<body>


    <script src="static/scripts/header.js" onLoad="outputHeader('Tests', '{{auth}}' )"></script>

    <!-- <span style="font-size:30px;cursor:pointer;align-self:right;" onclick="openNav()">&#9776;</span> -->


    <!-- <br>
    <br>
    <br>
    <br>
    <br> -->

    <div id=body class="info">

        <div id="tests" class="tests">
            <txt class="test_title">Tests</txt>

            <hr>

            <ul class="nobull">


                <li>
                    <div id="test2" class="test">
                        <a href="\tests"></a>
                        <txt class="big">Midterm</txt>
                        <ul class="nobull">
                            <li>
                                <tes_text>
                                    This is the only assessment before the final exam. It is on the <b>28<sup>th</sup>
                                        of February, 2022</b>. It will cover the following topics:
                                    <ul>
                                        <li>
                                            Relational Algebra
                                        </li>

                                        <li>
                                            SQL
                                        </li>
                                    </ul>

                                    We will only assess you on knowledge that you should have obtained from Assignment
                                    1, the lectures, tutorials or notes.

                                    <br>

                                    <br> It will take place in the same room in which our lecture always takes place and
                                    during lecture time. You will have a total of 110 minutes to complete it. You will
                                    write the test on paper and hand it in. You are
                                    only allowed to have writing utensils and your T-card, no scrap paper.

                                    <br>

                                    <br> If you have any concerns or inquiries, Feel free to post it on Piazza, or if it
                                    is private you can <a href="mailto:purva.m.gawde@mail.utoronto.ca"
                                        target="blank">email</a> me. Good luck!
                                </tes_text>
                            </li>
                        </ul>

                    </div>

                </li>


                <li>
                    <div id="test2" class="test">
                        <a href="\tests"></a>
                        <txt class="big">Final Exam</txt>
                        <ul class="nobull">
                            <li>
                                <tes_text>
                                    It is on the <b>19<sup>th</sup>
                                        of April, 2022</b>. It will cover everything we've done this semester.
                                    Specifically, the following topics:
                                    <ul>
                                        <li>
                                            Database Theory
                                        </li>


                                        <li>
                                            Relational Algebra
                                        </li>

                                        <li>
                                            SQL
                                        </li>

                                        <li>
                                            Python Flask
                                        </li>

                                        <li>
                                            HTML
                                        </li>

                                        <li>
                                            CSS
                                        </li>

                                        <li>
                                            JavaScript
                                        </li>

                                        <li>
                                            Integrating WebApps with Databases
                                        </li>
                                    </ul>
                                    <br>

                                    We will only assess you on knowledge that you should have obtained from Assignments
                                    , lectures, tutorials or notes.
                                    <br>
                                    <br> It will take place in HW215 and HW216 at 9:00am.
                                    . You will have a total of 170 minutes to complete it. You will
                                    write the test on paper and hand it in. You are
                                    only allowed to have writing utensils and your T-card, no scrap paper.
                                    <br>
                                    <br> If you have any concerns or inquiries, Feel free to post it on Piazza, or if it
                                    is private you can <a href="mailto:purva.m.gawde@mail.utoronto.ca"
                                        target="blank">email</a> me. Good luck!

                                </tes_text>
                            </li>
                        </ul>

                    </div>

                </li>






            </ul>

        </div>


    </div>




</body>

<footer>
    <script src="static/scripts/footer.js"></script>
</footer>



</html>










<!-- <head>
    <link rel="stylesheet" href="static/css/tests_styles.css">
</head>

<h1>Tests</h1>

<body>

    <div id="test_dropdown" class="dropdown">

        <a href="#" onclick="dropDown(0)">Test 1</a>

        <b id="Test1_info">

            This is test 1. It was due on February 14th.
            <br>
            The average was 67% and the median was 72%.
            <br>
            Impressive indeed right!
        </b>

        <a href="#" onclick="dropDown(1)">Test 2</a>

        <b id="Test2_info">
            *Insert test 2 text here*
        </b>

        <a href="#" onclick="dropDown(2)">Test 3</a>

        <b id="Test3_info">
            uWu oWo Test 3 deth
        </b>



    </div>

    <ul id="menu">
        <li><a href="#">Programming Language</a>
            <ul>
                <li><a href="#">Java</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">Python</a></li>
                <li><a href="#">Asp Classic</a></li>
                <li><a href="#">ASP.NET</a></li>
                <li><a href="#">javascript</a></li>
                <li><a href="#">Perl</a></li>
            </ul>
        </li>
        <li><a href="#">Database</a>
            <ul>
                <li><a href="#">SQL Server 2005</a></li>
                <li><a href="#">Oracle</a></li>
                <li><a href="#">MySQL</a></li>
                <li><a href="#">DB2</a></li>
            </ul>
        </li>
        <li><a href="#">Help</a></li>
    </ul>

    <script src="static/scripts/main.js"></script>
</body> -->