body{
    background-color: beige;
    font-size: 16px
  }
  
  h1 {
    color: darkblue;
    background-color: floralwhite;
    padding: 20px;
    border: 3px solid darkslateblue;
    font-weight: 600;
  }
  
  /* #heading-container{
  
  }
  
  .step-text{
  
  
  }
  
  #final-step-text{
  
  
  }
  
  form{
  
  } */
  /* © 2022 GitHub, Inc.
  Terms
   */